CREATE TABLE IF NOT EXISTS "migrations" (
    "id" integer primary key autoincrement not null,
    "migration" varchar not null,
    "batch" integer not null
);

CREATE TABLE sqlite_sequence (name, seq);

CREATE TABLE IF NOT EXISTS "users" (
    "id" integer primary key autoincrement not null,
    "name" varchar not null,
    "email" varchar not null,
    "email_verified_at" datetime,
    "password" varchar not null,
    "remember_token" varchar,
    "created_at" datetime,
    "updated_at" datetime,
    "two_factor_secret" text,
    "two_factor_recovery_codes" text,
    "two_factor_confirmed_at" datetime
);

CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");

CREATE TABLE IF NOT EXISTS "password_reset_tokens" (
    "email" varchar not null,
    "token" varchar not null,
    "created_at" datetime,
    primary key ("email")
);

CREATE TABLE IF NOT EXISTS "sessions" (
    "id" varchar not null,
    "user_id" integer,
    "ip_address" varchar,
    "user_agent" text,
    "payload" text not null,
    "last_activity" integer not null,
    primary key ("id")
);

CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");

CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");

CREATE TABLE IF NOT EXISTS "cache" (
    "key" varchar not null,
    "value" text not null,
    "expiration" integer not null,
    primary key ("key")
);

CREATE TABLE IF NOT EXISTS "cache_locks" (
    "key" varchar not null,
    "owner" varchar not null,
    "expiration" integer not null,
    primary key ("key")
);

CREATE TABLE IF NOT EXISTS "jobs" (
    "id" integer primary key autoincrement not null,
    "queue" varchar not null,
    "payload" text not null,
    "attempts" integer not null,
    "reserved_at" integer,
    "available_at" integer not null,
    "created_at" integer not null
);

CREATE INDEX "jobs_queue_index" on "jobs" ("queue");

CREATE TABLE IF NOT EXISTS "job_batches" (
    "id" varchar not null,
    "name" varchar not null,
    "total_jobs" integer not null,
    "pending_jobs" integer not null,
    "failed_jobs" integer not null,
    "failed_job_ids" text not null,
    "options" text,
    "cancelled_at" integer,
    "created_at" integer not null,
    "finished_at" integer,
    primary key ("id")
);

CREATE TABLE IF NOT EXISTS "failed_jobs" (
    "id" integer primary key autoincrement not null,
    "uuid" varchar not null,
    "connection" text not null,
    "queue" text not null,
    "payload" text not null,
    "exception" text not null,
    "failed_at" datetime not null default CURRENT_TIMESTAMP
);

CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");

CREATE TABLE IF NOT EXISTS "rooms" (
    "id" integer primary key autoincrement not null,
    "room_name" varchar not null,
    "teaching_capacity" integer not null,
    "created_at" datetime,
    "updated_at" datetime
);

CREATE TABLE IF NOT EXISTS "years" (
    "id" integer primary key autoincrement not null,
    "year" integer not null,
    "created_at" datetime,
    "updated_at" datetime
);

CREATE TABLE IF NOT EXISTS "sectors" (
    "id" integer primary key autoincrement not null,
    "sector_name" varchar not null,
    "year_id" integer not null,
    "created_at" datetime,
    "updated_at" datetime,
    foreign key ("year_id") references "years" ("id") on delete set null
);

CREATE TABLE IF NOT EXISTS "sections" (
    "id" integer primary key autoincrement not null,
    "section_number" integer not null,
    "sector_id" integer not null,
    "default_room_id" integer not null,
    "created_at" datetime,
    "updated_at" datetime,
    foreign key ("sector_id") references "sectors" ("id") on delete cascade,
    foreign key ("default_room_id") references "rooms" ("id") on delete cascade
);

CREATE TABLE IF NOT EXISTS "groups" (
    "id" integer primary key autoincrement not null,
    "group_number" integer not null,
    "section_id" integer not null,
    "nb_students" integer not null,
    "default_room_id" integer not null,
    "created_at" datetime,
    "updated_at" datetime,
    foreign key ("section_id") references "sections" ("id") on delete cascade,
    foreign key ("default_room_id") references "rooms" ("id") on delete set null
);

CREATE TABLE IF NOT EXISTS "modules" (
    "id" integer primary key autoincrement not null,
    "module_name" varchar not null,
    "created_at" datetime,
    "updated_at" datetime
);

CREATE TABLE IF NOT EXISTS "teachers" (
    "id" integer primary key autoincrement not null,
    "teacher_name" varchar not null,
    "teacher_grade" varchar not null,
    "teacher_email" varchar not null,
    "created_at" datetime,
    "updated_at" datetime
);

CREATE TABLE IF NOT EXISTS "teachers_modules" (
    "created_at" datetime,
    "updated_at" datetime,
    "teacher_id" integer not null,
    "module_id" integer not null,
    "lecture" tinyint (1) not null,
    "dw" tinyint (1) not null,
    "lab" tinyint (1) not null,
    foreign key ("teacher_id") references "teachers" ("id") on delete CASCADE,
    foreign key ("module_id") references "modules" ("id") on delete CASCADE
);

CREATE TABLE IF NOT EXISTS "global_weeks" (
    "id" integer primary key autoincrement not null,
    "global_week_number" integer not null,
    "global_week_type" varchar not null,
    "start_week_date" date not null,
    "created_at" datetime,
    "updated_at" datetime
);

CREATE TABLE IF NOT EXISTS "timings" (
    "id" integer primary key autoincrement not null,
    "session_start" time not null,
    "session_finish" time not null,
    "created_at" datetime,
    "updated_at" datetime
);

CREATE TABLE IF NOT EXISTS "weeks" (
    "id" integer primary key autoincrement not null,
    "global_week_id" integer not null,
    "year_id" integer not null,
    "semester" varchar check ("semester" in ('1', '2')) not null default '1',
    "created_at" datetime,
    "updated_at" datetime,
    foreign key ("global_week_id") references "global_weeks" ("id") on delete CASCADE,
    foreign key ("year_id") references "years" ("id") on delete CASCADE
);

CREATE TABLE IF NOT EXISTS "learning_sessions" (
    "id" integer primary key autoincrement not null,
    "timing_id" integer not null,
    "week_id" integer not null,
    "session_date" date not null,
    "module_id" integer not null,
    "teacher_id" integer not null,
    "session_type" varchar not null,
    "sessionable_type" varchar not null,
    "sessionable_id" integer not null,
    "room_id" integer not null,
    "absented" tinyint (1) not null default '0',
    "caughtup" tinyint (1) not null default '0',
    "created_at" datetime,
    "updated_at" datetime,
    foreign key ("timing_id") references "timings" ("id") on delete CASCADE,
    foreign key ("week_id") references "weeks" ("id") on delete CASCADE,
    foreign key ("module_id") references "modules" ("id") on delete CASCADE,
    foreign key ("teacher_id") references "teachers" ("id") on delete CASCADE,
    foreign key ("room_id") references "rooms" ("id") on delete CASCADE
);

CREATE TABLE IF NOT EXISTS "sectors_modules" (
    "id" integer primary key autoincrement not null,
    "sector_id" integer not null,
    "module_id" integer not null,
    "created_at" datetime,
    "updated_at" datetime,
    foreign key ("sector_id") references "sectors" ("id") on delete set null,
    foreign key ("module_id") references "modules" ("id") on delete set null
);

CREATE TABLE IF NOT EXISTS "personal_access_tokens" (
    "id" integer primary key autoincrement not null,
    "tokenable_type" varchar not null,
    "tokenable_id" integer not null,
    "name" text not null,
    "token" varchar not null,
    "abilities" text,
    "last_used_at" datetime,
    "expires_at" datetime,
    "created_at" datetime,
    "updated_at" datetime
);

CREATE INDEX "personal_access_tokens_tokenable_type_tokenable_id_index" on "personal_access_tokens" (
    "tokenable_type",
    "tokenable_id"
);

CREATE UNIQUE INDEX "personal_access_tokens_token_unique" on "personal_access_tokens" ("token");

CREATE INDEX "personal_access_tokens_expires_at_index" on "personal_access_tokens" ("expires_at");

CREATE TABLE IF NOT EXISTS "pulse_values" (
    "id" integer primary key autoincrement not null,
    "timestamp" integer not null,
    "type" varchar not null,
    "key" text not null,
    "key_hash" varchar not null,
    "value" text not null
);

CREATE INDEX "pulse_values_timestamp_index" on "pulse_values" ("timestamp");

CREATE INDEX "pulse_values_type_index" on "pulse_values" ("type");

CREATE UNIQUE INDEX "pulse_values_type_key_hash_unique" on "pulse_values" ("type", "key_hash");

CREATE TABLE IF NOT EXISTS "pulse_entries" (
    "id" integer primary key autoincrement not null,
    "timestamp" integer not null,
    "type" varchar not null,
    "key" text not null,
    "key_hash" varchar not null,
    "value" integer
);

CREATE INDEX "pulse_entries_timestamp_index" on "pulse_entries" ("timestamp");

CREATE INDEX "pulse_entries_type_index" on "pulse_entries" ("type");

CREATE INDEX "pulse_entries_key_hash_index" on "pulse_entries" ("key_hash");

CREATE INDEX "pulse_entries_timestamp_type_key_hash_value_index" on "pulse_entries" (
    "timestamp",
    "type",
    "key_hash",
    "value"
);

CREATE TABLE IF NOT EXISTS "pulse_aggregates" (
    "id" integer primary key autoincrement not null,
    "bucket" integer not null,
    "period" integer not null,
    "type" varchar not null,
    "key" text not null,
    "key_hash" varchar not null,
    "aggregate" varchar not null,
    "value" numeric not null,
    "count" integer
);

CREATE UNIQUE INDEX "pulse_aggregates_bucket_period_type_aggregate_key_hash_unique" on "pulse_aggregates" (
    "bucket",
    "period",
    "type",
    "aggregate",
    "key_hash"
);

CREATE INDEX "pulse_aggregates_period_bucket_index" on "pulse_aggregates" ("period", "bucket");

CREATE INDEX "pulse_aggregates_type_index" on "pulse_aggregates" ("type");

CREATE INDEX "pulse_aggregates_period_type_aggregate_bucket_index" on "pulse_aggregates" (
    "period",
    "type",
    "aggregate",
    "bucket"
);

CREATE TABLE IF NOT EXISTS "telescope_entries" (
    "sequence" integer primary key autoincrement not null,
    "uuid" varchar not null,
    "batch_id" varchar not null,
    "family_hash" varchar,
    "should_display_on_index" tinyint (1) not null default '1',
    "type" varchar not null,
    "content" text not null,
    "created_at" datetime
);

CREATE UNIQUE INDEX "telescope_entries_uuid_unique" on "telescope_entries" ("uuid");

CREATE INDEX "telescope_entries_batch_id_index" on "telescope_entries" ("batch_id");

CREATE INDEX "telescope_entries_family_hash_index" on "telescope_entries" ("family_hash");

CREATE INDEX "telescope_entries_created_at_index" on "telescope_entries" ("created_at");

CREATE INDEX "telescope_entries_type_should_display_on_index_index" on "telescope_entries" (
    "type",
    "should_display_on_index"
);

CREATE TABLE IF NOT EXISTS "telescope_entries_tags" (
    "entry_uuid" varchar not null,
    "tag" varchar not null,
    foreign key ("entry_uuid") references "telescope_entries" ("uuid") on delete cascade,
    primary key ("entry_uuid", "tag")
);

CREATE INDEX "telescope_entries_tags_tag_index" on "telescope_entries_tags" ("tag");

CREATE TABLE IF NOT EXISTS "telescope_monitoring" (
    "tag" varchar not null,
    primary key ("tag")
);